.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 1000px;
  overflow: hidden;
}

.hero picture {
  min-height: fit-content;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

.hero-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
  opacity: 50%;
}

.hero-inner {
  padding: 1rem;
  text-align: center;
  position: absolute;
  z-index: 98;
}

.hero-inner__title {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-weight: var(--fw-bold);
  font-size: 4rem;
}

.hero-inner__tagline {
  color: #fff;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: var(--fw-medium);
}

.hero-inner__btn-explore {
  position: absolute;
  color: #eee0c9;
  background-color: #2e2e2e;
  font-weight: var(--fw-semibold);
  font-size: 1.2rem;
  top: 90%;
  left: 50%;
  padding: 12px 18px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 99;
}
.hero-inner__btn-explore:hover {
  background-color: #eee0c9;
  color: #2e2e2e;
}
