@media only screen and (max-width: 1200px) {
  .hero {
    min-width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #restaurant-list {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4.4rem;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-logo {
    padding: 8px 0;
  }
  .nav-item {
    margin: 2.4rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger-bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active .hamburger-bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .restaurant-card__content {
    padding: 1rem 1.2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  #restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .hero-inner__title {
    font-size: 3rem;
  }
  .hero-inner__tagline {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  #restaurant-list {
    grid-template-columns: 1fr;
  }
  footer .copyright {
    font-size: 14px;
  }
}

@media only screen and (max-width: 350px) {
  #restaurant-list {
    padding: 1rem;
  }
  .navbar {
    padding: 1rem;
  }
  .nav-logo {
    font-size: 1.4rem;
    font-weight: var(--fw-semibold);
    color: #eee0c9;
    padding: 6px 0;
  }
  .nav-item__link {
    font-size: 1.2rem;
  }
  .hero-inner__title {
    font-size: 2.4rem;
  }
  .hero-inner__tagline {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .hero-inner__btn-explore {
    font-size: 0.8rem;
    padding: 10px 16px;
  }
}
@media only screen and (max-width: 250px) {
  .navbar {
    padding: 1rem 0.5rem;
  }
}
